.root{
    -bg-gradient: linear-gradient(from 25px 25px to 500px 300px, #a1ffce, #faffd1);
    -hlight-gradient: linear-gradient(to bottom, #1dbbdd44, #93f9b944);

    -primary: #81c48355;
    -secondary: #375FCB;
    -tertiary: #fcc200;
    -tertiary-armed: #FDDD71;
}

.background-pane{
   -fx-background-color: -bg-gradient;
   -fx-padding: 10px 15px;
   -fx-background-radius: 10px;
}

.shadow-pane{
   -fx-background-color: transparent;
   -fx-padding: 10px;
}

.content-pane{
   -fx-background-color: #ffffff22;
   -fx-background-radius: 10px;
   -fx-spacing: 35px;
   -fx-padding: 25px;
   -fx-alignment: center;
}

.transparent{
   -fx-background-color: transparent;
}

.highlight-rectangle{
   -fx-background-color: derive(-primary, 50%);
   -fx-background-radius: 5px;
}

.label{
    -fx-text-fill: #686868ff;
}

.transparent-background{
   -fx-background-color: transparent;
}

.transparent-background > .viewport{
   -fx-background-color: transparent;
}

.drag-allowed{
    -fx-background-color: linear-gradient(from 25px 25px to 500px 300px, #0052D4, #4364F7);
    -fx-background-radius: 10px;
}

.title-text{
    -fx-text-fill: #375FCB ;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.app-text{
    -fx-text-fill: #375FCB;
    -fx-font-style: italic;
    -fx-font-size: 14;
}

.error-label{
    -fx-text-fill: #375FCB ;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-background-color: linear-gradient(to right, #0f0c2977, #302b6377, #24243e77);
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-alignment: center;

    -width: 350;
    -fx-min-width: -width;
    -fx-max-width: -width;
}

.button{
    -height: 20;
    -width: 20;
    -fill: white;

    -fx-background-color: -fill;
    -fx-min-height: -height;
    -fx-min-width: -width;
    -fx-max-height: -height;
    -fx-max-width: -width;
}

.button:hover {
    -fill: -tertiary;
}

.button:armed {
-fill: -tertiary-armed;
}

.exit-button {
    -height: 16;
    -width: 16;
    -fill: -secondary;
    -fx-shape: "M247.244,169.59l83.938-83.938c5.332-5.327,7.994-11.798,7.994-19.414c0-7.614-2.669-14.084-7.994-19.414L292.355,7.993 C287.026,2.665,280.556,0,272.944,0c-7.617,0-14.085,2.665-19.417,7.993L169.59,91.931L85.651,7.993 C80.325,2.665,73.854,0,66.237,0c-7.611,0-14.083,2.665-19.414,7.993L7.994,46.824C2.667,52.15,0,58.624,0,66.238 c0,7.616,2.664,14.084,7.994,19.414l83.937,83.938L7.994,253.528C2.667,258.859,0,265.327,0,272.945 c0,7.61,2.664,14.082,7.994,19.41l38.83,38.828c5.33,5.332,11.803,7.994,19.414,7.994c7.616,0,14.084-2.669,19.414-7.994 l83.939-83.938l83.944,83.938c5.328,5.332,11.793,7.994,19.417,7.994c7.611,0,14.082-2.669,19.411-7.994l38.82-38.828 c5.332-5.324,7.994-11.8,7.994-19.41c0-7.618-2.662-14.086-7.994-19.417L247.244,169.59z";
}

.exit-button:hover{
    -fill: red;
}

.background-pane{
   -fx-background-color: -bg-gradient;
   -fx-padding: 10px 15px;
   -fx-background-radius: 10px;
}

.shadow-pane{
   -fx-background-color: transparent;
   -fx-padding: 10px;
}

.content-pane{
   -fx-background-color: #ffffff22;
   -fx-background-radius: 10px;
   -fx-spacing: 35px;
   -fx-padding: 25px;
   -fx-alignment: center;
}

.label{
    -fx-text-fill: #686868ff;
}

.transparent-background{
   -fx-background-color: transparent;
}

.transparent-background > .viewport{
   -fx-background-color: transparent;
}

.drag-allowed{
    -fx-background-color: linear-gradient(from 25px 25px to 500px 300px, #0052D4, #4364F7);
    -fx-background-radius: 10px;
}

.title-text{
    -fx-text-fill: #375FCB ;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.app-text{
    -fx-text-fill: #375FCB;
    -fx-font-style: italic;
    -fx-font-size: 14;
}

.error-label{
    -fx-text-fill: #375FCB ;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-background-color: linear-gradient(to right, #0f0c2977, #302b6377, #24243e77);
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-alignment: center;

    -width: 350;
    -fx-min-width: -width;
    -fx-max-width: -width;

}

.button{
    -height: 12px;
    -width: 12px;
    -fill: white;

    -fx-background-color: -fill;
    -fx-min-height: -height;
    -fx-min-width: -width;
    -fx-max-height: -height;
    -fx-max-width: -width;
}

.button:hover {
    -fill: -tertiary;
}

.button:armed {
    -fill: -tertiary-armed;
}

.exit-button {
    -fill: -secondary;
    -fx-shape: "M247.244,169.59l83.938-83.938c5.332-5.327,7.994-11.798,7.994-19.414c0-7.614-2.669-14.084-7.994-19.414L292.355,7.993 C287.026,2.665,280.556,0,272.944,0c-7.617,0-14.085,2.665-19.417,7.993L169.59,91.931L85.651,7.993 C80.325,2.665,73.854,0,66.237,0c-7.611,0-14.083,2.665-19.414,7.993L7.994,46.824C2.667,52.15,0,58.624,0,66.238 c0,7.616,2.664,14.084,7.994,19.414l83.937,83.938L7.994,253.528C2.667,258.859,0,265.327,0,272.945 c0,7.61,2.664,14.082,7.994,19.41l38.83,38.828c5.33,5.332,11.803,7.994,19.414,7.994c7.616,0,14.084-2.669,19.414-7.994 l83.939-83.938l83.944,83.938c5.328,5.332,11.793,7.994,19.417,7.994c7.611,0,14.082-2.669,19.411-7.994l38.82-38.828 c5.332-5.324,7.994-11.8,7.994-19.41c0-7.618-2.662-14.086-7.994-19.417L247.244,169.59z";
}

.exit-button:hover{
    -fill: red;
}